/* CSS per al menú fixat */
html{
	background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-hexagono-tecnologia-azul_1017-19366.jpg?w=1060&t=st=1677096632~exp=1677097232~hmac=c054cbda0118ea1570981c421763aaa9d50d56a898b2927ad8b9847e1f4436a0");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	transition: all 0.3s ease;
}
nav a:hover {
	color: #06a7ae;
}

/* CSS per a la taula */
table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 50px;
}
th, td {
	padding: 10px;
	text-align: center;
}
th {
	background-color: #333;
	color: #fff;
}
td {
	border: 1px solid #ddd;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 70px;
	text-align: center;
	color: #06a7ae;
}
p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25px;
	color: #2a026e;
}
.parag{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 80%;
	padding: 70px;
}
footer{
	background-color: teal;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25px;
	color: white;
	padding: 10px;
	width: 100%;
	height: auto;
	margin: 0px;
	left: 0px;
	bottom: 0px;
}